* {
    font-family: Raleway;
    font-weight: 200;
    color: white;
}

body {
    background: linear-gradient(to bottom right, #8E4631 0%, #FFD13D 100%);
    width: 250px;
    padding: 20px;
}

p {
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 25px;
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #FAFAFA;
    font-weight: 300;
}

.button:hover {
    opacity: 0.9;
}